<div class="w-full mb-16 mx-auto bg-[#110f0e]">
    <div class="mx-auto w-full max-w-324 px-8 md:px-12 lg:px-16 xl:px-0">
        <div class="pt-38 pb-20">

            {{#is "home, index"}}

            <h1 class="text-4xl font-semibold md:font-extrabold tracking-tighter md:max-w-4xl md:text-5xl lg:text-7xl">
                {{#if @custom.hero_title}}{{@custom.hero_title}}{{else}}{{@site.title}}{{/if}}
            </h1>

            {{#if @site.description}}
            <p class="mt-8 md:w-2xl text-xl text-neutral-300 md:mt-5 md:mx-0 mb-4">
                {{@site.description}}
            </p>
            {{/if}}

            {{else is "tag"}}

            {{#tag}}
            <h1 class="text-4xl font-semibold md:font-extrabold tracking-tighter md:max-w-4xl md:text-5xl lg:text-7xl">
                {{name}}
            </h1>

            {{#if description}}
            <p class="mt-8 md:w-2xl text-xl text-neutral-300 md:mt-5 md:mx-0 mb-4">
                {{description}}
            </p>
            {{else}}
            <p class="mt-8 md:w-2xl text-xl text-neutral-300 md:mt-5 md:mx-0 mb-4">
                A collection of {{plural pagination.total empty="zero posts" single="one post" plural="% posts"}}
            </p>
            {{/if}}
            {{/tag}}

            {{else is "author"}}
            {{log "author" author}}
            <h1 class="text-4xl font-semibold md:font-extrabold tracking-tighter md:max-w-4xl md:text-5xl lg:text-7xl">
                {{name}}
            </h1>

            {{#if bio}}
            <p class="mt-8 md:w-2xl text-xl text-neutral-300 md:mt-5 md:mx-0 mb-4">
                {{bio}}
            </p>
            {{/if}}

            {{else}}

            {{#post}}
            <h1 class="text-4xl font-semibold md:font-extrabold tracking-tighter md:max-w-4xl md:text-5xl lg:text-7xl">
                {{title}}
            </h1>

            {{#if custom_excerpt}}
            <p class="mt-8 md:w-2xl text-xl text-neutral-300 md:mt-5 md:mx-0 mb-4">
                {{custom_excerpt}}
            </p>
            {{/if}}
            {{/post}}

            {{/is}}

        </div>
    </div>
</div>